# LiveKit Configuration
LIVEKIT_URL=wss://calling-agent-ktr0b55a.livekit.cloud
LIVEKIT_API_KEY="APIumTWB6RrCK9U"
LIVEKIT_API_SECRET=XKN8lBnR6g27W8GTHFbEqX5MvAWNThuXonfiddACtle

# OpenAI Configuration
OPENAI_API_KEY=aa86aaa2-715f-4ee0-b1df-4b0ca9922ceb

# Deepgram Configuration
DEEPGRAM_API_KEY=9dea16fcba79bc59866b0dc1096a5ce0d22f1e70

# ElevenLabs Configuration
ELEVENLABS_API_KEY=sk_621b78c8a4979a7e06c54fa27fdf762c38b6ea9d4b948723
ELEVENLABS_VOICE_ID=3jR9BuQAOPMWUjWpi0ll

# Airtable Configuration
AIRTABLE_TOKEN=.af988351f206956bbpatlSZQ8B0buVwYyMde9eb97f52bcd1b30680ec2705975e7e4596995eaa5bde8
AIRTABLE_BASE_ID=appYgXAxbybG9rZPr/tblhcdQCh8vSoZ7bP
AIRTABLE_TABLE_NAME=Call_Logs
